!!! 5
%html
  %head
    -# Standard mobile HTML meta
    %meta(charset="utf-8")
    %meta(content="IE=edge,chrome=1" http-equiv="X-UA-Compatible")
    %meta(name="viewport" content="width=device-width, user-scalable=0, initial-scale=1.0, maximum-scale=1.0;")
    
    -# Include jQuery, SimpleDialog2 & Google Map libraries
    %link(rel="stylesheet" href="http://code.jquery.com/mobile/1.0/jquery.mobile-1.0.min.css")
    %link(rel="stylesheet" href="http://dev.jtsage.com/cdn/simpledialog/latest/jquery.mobile.simpledialog.min.css")
    %script(type="text/javascript" src="http://code.jquery.com/jquery-1.6.4.min.js")
    %script(type="text/javascript" src="http://code.jquery.com/mobile/1.0.1/jquery.mobile-1.0.1.min.js")
    %script(type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true")
    %script(type="text/javascript" src="http://dev.jtsage.com/cdn/simpledialog/latest/jquery.mobile.simpledialog2.min.js")

    -# Include custom scripts (static files are served from the ./public folder).
    %script(type="text/javascript" src="mapping.js")
    %script(type="text/javascript" src="dialog.js")

    %title JSONpinsOnMap	

  %body
    %div(id="main" data-role="page")
      
      -# Map page
      %header(data-role="header")
        %h1 There are #{@locationCount} events near YOU:
      %div(class="content" data-role="content")
        -# Store the JSON string in hidden div for access by JavaScript.
        %locationsDiv#jsonLoc{:style => "display:none"} #{@rawLocationData}
        -# Create the map div.
        #map{:style => "width: 610px; height: 407px"}
      %div(data-role="footer" data-position="fixed")
        %div(data-role="navbar")
          %ul
            %li
              %a(href="#listEvents" target="_parent") List Events
            %li
              %a(href="#newEvent" target="_parent") New Event
      %br

    -# List of events
    %div(id="listEvents" data-role="page" data-add-back-btn="true")
      %header(data-role="header")
        %h1 Happening now
      %div(class="code2" data-role="content")
        %ul(data-role="listview")
          -# The following code (and more) should be replaced once we deploy backbone.js.
          - @jsonLocationData["locations"].each do |loc|
            %li
              %a(data-rel="dialog" id="openEditEventDialog" href="#")Event X
      %footer(data-role="footer")
        %h6 
      %br

