!!! 5
%html
  
  %head
  
    -# Standard mobile HTML meta.
    %meta(charset="utf-8")
    %meta(content="IE=edge,chrome=1" http-equiv="X-UA-Compatible")
    %meta(name="viewport" content="width=device-width, user-scalable=0, initial-scale=1.0, maximum-scale=1.0;")

    -# This is supposed to turn the iOS Safari status bar black. But it doesn't work. Don't (yet) know why.
    -# (And yes, I did try launching the app directly from the iOS home screen, per the Apple documentation.)
    -# %meta (name="apple-mobile-web-app-capable" content="yes")
    -# %meta (name="apple-mobile-web-app-status-bar-style" content="black")

    -# jQuery, SimpleDialog2 & Google Map libraries.
    %link(rel="stylesheet" href="jquery.mobile-1.1.0.min.css")
    %link(rel="stylesheet" href="jquery.mobile.simpledialog.min.css")
    %link(rel="stylesheet" href="bootstrap.min.css")
    %script(type="text/javascript" src="jquery-1.7.2.min.js")
    %script(type="text/javascript" src="jquery.mobile-1.1.0.min.js")
    %script(type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true")
    %script(type="text/javascript" src="lib/jquery.mobile.simpledialog2.min.js")

    -# MVC, templating and data manipulation libraries.
    %script(type="text/javascript" src="lib/handlebars-1.0.0.beta.6.js")
    %script(type="text/javascript" src="lib/underscore.js")
    %script(type="text/javascript" src="lib/json2.js")
    %script(type="text/javascript" src="lib/backbone.js")
    %script(type="text/javascript" src="lib/pusher.min.js")
    %script(type="text/javascript" src="lib/backpusher.js")

    -# Include custom scripts (static files are served from the ./public folder).
    %script(type="text/javascript" src="mvc.js")
    %script(type="text/javascript" src="mapping.js")
    %script(type="text/javascript" src="dialog.js")

    -# App name
    %title Events on Map	

    -# Custom icon for "current position" header.
    :css
      .ui-icon-myapp-maptarget {
      background-image: url("images/maptarget.png");
      }

    = haml :templates



  %body(style="background: black;")

    -# Home page (with map)
    %div(id="main" data-role="page")      
      %header(id="header" data-role="header")
        %h1(id="eventCounter1")
        -# {{Template-generated content here}}
        %a(href="#secondaryView" data-icon="grid") List
        %a(id="locateMe" href="#" data-icon="myapp-maptarget" data-iconpos="notext")
      %div(id="content" class="content" data-role="content" style="padding-left: 0px; padding-right: 0px; padding-bottom: 0px; padding-top: 0px;")
        -# Initialization of div for map display.
        #map(width="100%" height="auto")
      
    -# List of events
    %div(id="secondaryView" data-role="page" data-add-back-btn="true")
      %header(data-role="header")
        %h1(id="eventCounter2")
        -# {{Template-generated content here}}
      %div(class="code2" data-role="content")
        %ul(id="eventList" data-role="listview")
        -# {{Template-generated content here}}

        

