-# Template for a single event in the list view.
%script(id="eventListTemplate" type="text/x-handlebars-template")
	%a(data-rel="dialog" href="#")
		%strong
			{{title}}
	%p(style="padding-left: 15px;")
		Starting date & time:
		{{date}}
		at
		{{time}}
	%p(style="padding-left: 15px;")
		Remaining event duration: 
		{{duration}}
		minutes
	%p#ev(style="display: none") {{id}}
	</li>
-# Template for the events counter in headers.
%script(id="eventCounterTemplate" type="text/x-handlebars-template")
	{{length}}	Live Events