%script(id="event" type="text/x-handlebars-template")
  %a(data-rel="dialog" id="openEditEventDialog" href="#")
    %strong
      {{title}}
  %p(style="padding-left: 15px;")
    date and time:
    {{date}}
  %p(style="padding-left: 15px;")
    duration
    {{duration}}
    minutes
